.report {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.chartsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.customerName {
  font-weight: 600;
  color: var(--neutral-800);
  font-size: 13px;
}

.amount {
  font-weight: 600;
  color: var(--neutral-900);
}

.limit {
  color: var(--neutral-500);
  font-size: 13px;
}

@media (max-width: 1279px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .chartsGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .statsGrid {
    grid-template-columns: 1fr;
  }
}
